:root {
  --primary-text-color: #212121;
  --p-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --bgc-color: #F5F5F5;
  --silver-bgc: #F5F4FA;
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

.text {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03rem;
  color: #757575;
}

.title {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.container.title {
  display: flex;
}

.button {
  gap: 8px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--primary-white-color);
  color: #212121;
  font-family: Roboto, sans-serif;
}

.close-icon {
  width: 30px;
  height: 30px;
  color: var(--p-text-color);
  fill: currentColor;
  transition-property: transform, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.close-icon:hover, .close-icon:focus {
  fill: var(--accent-color);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-button:hover, .modal-button:focus .modal-button-icon {
  fill: var(--accent-text-color);
}

.modal-btn {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  position: relative;
  display: block;
  font-family: Roboto, sans-serif;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.site-nav .link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
}

.site-nav .link.current::after {
  background-color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav.item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--p-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  text-decoration: none;
  padding: 32px 0;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.auth-nav .link:hover, .auth-nav .link:focus {
  color: #2196F3;
}

.port-btn {
  display: inline-block;
  margin: 0;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--silver-bgc);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: #EEEEEE;
  transition-property: color, background-color, filter;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.port-btn:hover, .port-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn {
  display: inline-block;
  min-width: 216px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.btn:hover, .btn:focus {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.header-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03rem;
  text-decoration: none;
}
.header-logo:focus {
  color: #2196F3;
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
.contact-icon:hover {
  fill: var(--accent-color);
}

.header-studio,
.header-port {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ECECEC;
}

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--primary-white-color);
}

.header-port .header-studio {
  background-color: var(--primary-white-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2F303A;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.hero-title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0px;
}

.footer-soc-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-ikon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.link-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03rem;
  color: #FFFFFF;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.link-tel:hover,
.link-mail:hover,
.link-map:hover {
  color: var(--accent-color);
}

.link-foter {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03rem;
  color: #2196F3;
  text-decoration: none;
  padding-left: 0px;
  margin-bottom: 20px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.web-studio {
  display: inline-grid;
  align-items: baseline;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 70px;
}

.soc-studio {
  display: inline-grid;
  align-items: baseline;
  padding: 0;
  width: 206px;
  height: 80px;
}

.address-list {
  padding: 0;
  margin: 0;
  color: #AFB1B8;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  padding: 0;
}

.link-tel,
.link-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03rem;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: #AFB1B8;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.second-footer-container {
  display: inline-grid;
  align-items: baseline;
  padding: 0;
  margin-left: 93px;
}

.email-form {
  display: flex;
  margin-top: 0px;
}

.email-form-input {
  margin-right: 12px;
  padding: 15px 16px;
  min-width: 358px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.email-form-button {
  width: 200px;
  height: 50px;
  display: flex;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: #EEEEEE;
  transition-property: color, background-color, filter;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-button-icon {
  fill: currentColor;
  margin-left: 10px;
}

.modal {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-white-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 448px;
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-label {
  margin-bottom: 10px;
}

.modal-label {
  margin-bottom: 20px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.modal-form-input {
  color: var(--p-text-color);
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-form-input:focus {
  border-color: rgb(33, 150, 243);
  outline: none;
}

.modal-form-comment {
  color: var(--p-text-color);
  display: block;
  width: 448px;
  height: 120px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-form-comment:focus {
  border-color: rgb(33, 150, 243);
  outline: none;
}
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-button {
  align-self: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
}
.modal-form-button:hover, .modal-form-button:focus {
  background-color: var(--primary-white-color);
  color: var(--p-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: #000000;
  transition: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: rgb(33, 150, 243);
}

.modal-form-checkbox-desc {
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
}

.form-user-policy-text {
  padding-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.user-policy-link {
  color: var(--accent-color);
}

.modal-checkbox-input {
  appearance: none;
}

.modal-icon-check {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 3px;
  cursor: pointer;
}

.modal-form-checkbox-icon {
  display: none;
  fill: #FFFFFF;
}

.modal-checkbox-input:checked + .modal-icon-check {
  background-color: var(--accent-color);
  transition: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-checkbox-input:checked + .modal-icon-check .modal-form-checkbox-icon {
  display: block;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-clients {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  background-color: #FFFFFF;
}
.clients-icon:hover, .clients-icon:focus {
  fill: var(--accent-color);
}

.clients-li {
  width: 170px;
  height: 92px;
}
.clients-li:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.clients-link:hover, .clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients .container {
  padding: 0;
}

.container .title {
  display: flex;
}

.title .features {
  width: 270px;
  margin-right: 30px;
}

.features:last-child {
  margin-right: 0px;
}

.features::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.device {
  display: flex;
  margin: auto;
  padding: 0px;
  gap: 30px;
}

.title-device {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}

.section-dev .section {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03rem;
}

.section-dev {
  padding: 94px 0;
  background-color: var(--bgc-color);
}

.section-dev .container {
  padding-bottom: 0px;
}

.title-human {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}

.section-hum .human {
  display: flex;
  text-align: center;
  margin: 0;
  gap: 30px;
}

.section-hum {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.human .text {
  text-align: center;
  margin-bottom: 16px;
}

.section-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.soc-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.soc-list-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.soc-list-link:hover, .soc-list-link:focus {
  background-color: var(--accent-color);
}

.soc-list-link:hover .soc-list-icon,
.soc-list-link:focus .soc-list-icon {
  fill: var(--primary-white-color);
}

.content-wrapper {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
}

.human-li {
  background-color: #FFFFFF;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s, visibility 0s 1s;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.title-text {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #EEEEEE;
  border-radius: 0px 0px 4px 4px;
}
.title-text:hover, .title-text:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.port-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06rem;
  color: #212121;
}

.port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03rem;
  color: var(--p-text-color);
}

.card-thumb {
  position: relative;
  max-height: 294px;
  overflow: hidden;
}

.thumb-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  background: var(--portfolio-overlay-color);
  transform: translateY(150%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.thumb-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.container .foto {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.foto {
  padding: 0px;
  margin: 0px;
}

.foto .card {
  margin: 0;
  padding-left: 0px;
}

.foto-item {
  display: block;
  text-decoration: none;
  color: var(---primary-text-color);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.foto-item:hover, .foto-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-item:hover .thumb-box,
.foto-item:focus .thumb-box {
  transform: translateY(0);
}

.port-bgc {
  background-color: var(--bgc-color);
  padding: 94px 0;
}

.section-work .title {
  margin-bottom: 50px;
}

.section-work {
  padding-bottom: 94px;
}

.device .itn {
  position: relative;
}

.overlay-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */