 .close-icon {
     width: 30px;
     height: 30px;
     color: var(--p-text-color);
     fill: currentColor;
     transition-property: transform, background-color;
     transition-duration: var(--transition-duration);
     transition-timing-function: var(--transition-timing-function);


     &:hover,
     &:focus {
         fill: var(--accent-color);
     }
 }